@import url(http://fonts.googleapis.com/css?family=Raleway|Maven+Pro);
@import "compass/css3";
@import "compass/css3/user-interface";
/*  @include transform(100% 0);
  @include transition-timing-function(cubic-bezier(0.7,0,0.3,1));
  @include transition-property(min-height,width,bottom,right);  
  @include transition-duration(.4s);*/
      /* Centering of the page */
  html{
        background-color: crimson;
      
  body {
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway;
    .main{
        p{
          margin: 0 auto;
          text-align: center;
          font-size: 3em;
          margin-top: 2em;
        }  
      }
    .content{ 
    #featureButton {
      margin: 5% 0%;
      button{
        position: relative;
        font-size: 1em;
        font-family: 'Maven Pro';
        padding: 1% 20%;
        font-size: 2em;
        border-radius: 1em;
        margin-left:30%;
        background-color: cadetblue;
        -webkit-box-shadow: 0px 5px 0px 0px rgb(80, 128, 130);
        -moz-box-shadow:    0px 5px 0px 0px rgb(80, 128, 130);
        box-shadow:         0px 5px 0px 0px rgb(80, 128, 130);
        border: none;
        color: black;
        @include transition-property(color);  
        @include transition-duration(.5s);
        
      }
      button:hover{
        top:-1px;
        -webkit-box-shadow: 0px 6px 0px 0px rgb(80, 128, 130);
        -moz-box-shadow:    0px 6px 0px 0px rgb(80, 128, 130);
        box-shadow:         0px 6px 0px 0px rgb(80, 128, 130);
        border: none;
        color: white;
        @include transition-property(color);  
        @include transition-duration(.2s);      
      }
      button:active{
        top:3px;
        -webkit-box-shadow: 0px 3px 0px 0px rgb(80, 128, 130);
        -moz-box-shadow:    0px 3px 0px 0px rgb(80, 128, 130);
        box-shadow:         0px 3px 0px 0px rgb(80, 128, 130);
        border: none;
      }
      button:focus {outline:0;}
      
    }

    .button_grid{
      position: relative;
        .block{
          padding: 1em 0em;
          button{
            position: relative;
            left:30%;
            font-family: 'Maven Pro';
            padding:10% 10%;
          }
          button:focus {outline:0;}

        }

        #button1 {
         
          button{
          position: relative;
          font-size: 1em;
          font-family: 'Maven Pro';
          border-radius: 1em;
          background-color: cadetblue;
          -webkit-box-shadow: 0px 5px 0px 0px rgb(80, 128, 130);
          -moz-box-shadow:    0px 5px 0px 0px rgb(80, 128, 130);
          box-shadow:         0px 5px 0px 0px rgb(80, 128, 130);
          border: none;
          color: black;
          @include transition-property(color);  
          @include transition-duration(.5s);            

          }
          button:hover{
            background-color: rgb(125, 206, 209);
            -webkit-box-shadow: 0px 6px 0px 0px rgb(80, 128, 130);
            -moz-box-shadow:    0px 6px 0px 0px rgb(80, 128, 130);
            box-shadow:         0px 6px 0px 0px rgb(80, 128, 130);
          }
          button:active{
            top:4px;
            -webkit-box-shadow: 0px 3px 0px 0px rgb(80, 128, 130);
            -moz-box-shadow:    0px 3px 0px 0px rgb(80, 128, 130);
            box-shadow:         0px 3px 0px 0px rgb(80, 128, 130);
          }

        }
      
        #button2 {
          button{
            position: relative;
            font-size: 1em;
            font-family: 'Maven Pro';
            border-radius: 1em;
            background-color: cadetblue;
            -webkit-box-shadow: 0px 5px 12px 1px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    0px 5px 12px 1px rgba(50, 50, 50, 0.75);
            box-shadow:         0px 5px 12px 1px rgba(50, 50, 50, 0.75);  
            border:none;          
          }
          button:hover{
            top:-2px;
            -webkit-box-shadow: 0px 9px 12px 3px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    0px 9px 12px 3px rgba(50, 50, 50, 0.75);
            box-shadow:         0px 9px 12px 3px rgba(50, 50, 50, 0.75);
            border:none;
          }
          button:active{
            top:5px;
            -webkit-box-shadow: 0px 9px 12px -2px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    0px 9px 12px -2px rgba(50, 50, 50, 0.75);
            box-shadow:         0px 9px 12px -2px rgba(50, 50, 50, 0.75);
            border:none;
          }

        }

        #button3 {
          button{
            position: relative;
            font-family: 'Maven Pro';
            border-radius: 1em;
            background-color: cadetblue;
            border:none;
            -webkit-box-shadow: 2px -5px 1px 0px rgb(80, 128, 130);
            -moz-box-shadow:    2px -5px 1px 0px rgb(80, 128, 130);
            box-shadow:         2px -5px 1px 0px rgb(80, 128, 130);

          }
          button:hover{
            border:none;
            top:3px;
            -webkit-box-shadow: 2px -8px 1px 0px rgb(80, 128, 130);
            -moz-box-shadow:    2px -8px 1px 0px rgb(80, 128, 130);
            box-shadow:         2px -8px 1px 0px rgb(80, 128, 130);

          }
          button:active{
            border:none;
            top:0px;
            -webkit-box-shadow: 2px -3px 1px 0px rgb(80, 128, 130);
            -moz-box-shadow:    2px -3px 1px 0px rgb(80, 128, 130);
            box-shadow:         2px -3px 1px 0px rgb(80, 128, 130);

          }

        }

        #button4 {

/* The animation code */
          @-webkit-keyframes flaotingButton{
            0%   { 
                top:0px;
                -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
                box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);
            }
            
            50%{
                top:-10px;
                -webkit-box-shadow: 0px 15px 5px 0px rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    0px 15px 5px 0px rgba(50, 50, 50, 0.75);
                box-shadow:         0px 15px 5px 0px rgba(50, 50, 50, 0.75);
            }
            100%{
              top:0px;
              -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
              -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
              box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);
            }

          }

          @keyframes flaotingButton {
            0%   { top:0px;}
            50%  { top:-10px;}
            100% { top:0px;}
          }
          @-moz-keyframes shadowSize {
            0%   { width:80px; margin-left:0px; opacity:1;   box-shadow:90px 0 8px rgba(0,0,0,0.7);}
            50%  { width:50px; margin-left:25px;opacity:0.3; box-shadow:90px 0 15px rgba(0,0,0,0.3);}
            100% { width:80px; margin-left:0px; opacity:1;   box-shadow:90px 0 8px rgba(0,0,0,0.7);}
          }
          @-webkit-keyframes shadowSize {
            0%   { width:80px; margin-left:0px; opacity:1;   box-shadow:90px 0 8px rgba(0,0,0,0.7);}
            50%  { width:50px; margin-left:20px;opacity:0.3; box-shadow:90px 0 15px rgba(0,0,0,0.3);}
            100% { width:80px; margin-left:0px; opacity:1;   box-shadow:90px 0 8px rgba(0,0,0,0.7);}
          } 
          button{
            position: relative;
            font-family: 'Maven Pro';
            border-radius: 1em;
            background-color: cadetblue;
            position: relative;
            border:none;
          }
          button:hover{
            border:none;
            -moz-animation:flaotingButton 1.5s infinite ease-in-out;
            -webkit-animation:flaotingButton 1.5s infinite ease-in-out;
          }
          button:active{
            border:none;
            color: white;

          }
          button+div{
            background:inherit;
            width: 80px;
            height: .5em;
            box-shadow:90px 0 8px rgba(0,0,0,0.7);
          }
          button:hover+div{
            background:inherit;
            width: 0%;
            height: 0.5em;
            -moz-animation:shadowSize 1.5s infinite ease-in-out;
            -webkit-animation:shadowSize 1.5s infinite ease-in-out;

          }

        }


        #button5 {
         
          button{
          position: relative;
          font-size: 1em;
          font-family: 'Maven Pro';
          border-radius: 1em;
          background-color: cadetblue;
          -webkit-box-shadow: 0px 5px 0px 0px rgb(80, 128, 130);
          -moz-box-shadow:    0px 5px 0px 0px rgb(80, 128, 130);
          box-shadow:         0px 5px 0px 0px rgb(80, 128, 130);
          border: none;
          color: black;
          @include transition-property(color);  
          @include transition-duration(.5s);            

          }
          button:hover{
            -webkit-box-shadow: 0px 6px 0px 0px rgb(80, 128, 130);
            -moz-box-shadow:    0px 6px 0px 0px rgb(80, 128, 130);
            box-shadow:         0px 6px 0px 0px rgb(80, 128, 130);
          }
          button:active{
            top:4px;
            background-color: #5D999A;
            -webkit-box-shadow: 0px 3px 0px 0px rgb(60, 108, 110);
            -moz-box-shadow:    0px 3px 0px 0px rgb(60, 108, 110);
            box-shadow:         0px 3px 0px 0px rgb(60, 108, 110);
          }

        }



        #button6 {
          button{
            border:none;
            border-radius: 0em;
-webkit-perspective: 5px; /* Chrome, Safari, Opera */
    perspective: 5px;
    -webkit-transform: rotateX(5deg); /* Chrome, Safari, Opera  */
    transform: rotateX(5deg);
background-color: rgb(0,176,150); // Old browsers
@include filter-gradient(#00b096, #4f827d, vertical); // IE6-9
@include background-image(linear-gradient(top,  rgba(0,176,150,1) 19%,rgba(109,168,175,1) 37%,rgba(109,168,175,1) 70%,rgba(79,130,125,1) 92%));


    -webkit-box-shadow: 0px 5px 4px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 5px 4px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 5px 4px 0px rgba(50, 50, 50, 0.75);

    

            

          }
          button:hover{
          }
          button:active{
            border:none;
            border-radius: 0em;
background-color: rgb(79,130,125); // Old browsers
@include filter-gradient(#4f827d, #00b096, vertical); // IE6-9
@include background-image(linear-gradient(top,  rgba(79,130,125,1) 8%,rgba(109,168,175,1) 30%,rgba(109,168,175,1) 63%,rgba(0,176,150,1) 81%));

            
-webkit-transform: rotateX(-5deg); /* Chrome, Safari, Opera  */
    transform: rotateX(-5deg);
    -webkit-box-shadow: 0px -5px 4px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px -5px 4px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px -5px 4px 0px rgba(50, 50, 50, 0.75);


          }

        }



        #button7 {
          button{
            border-radius: 1em;
            border:none;
// Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#4f827d+12,6da8af+33,6da8af+62,4f827d+93
background-color: rgb(79,130,125); // Old browsers
@include filter-gradient(#4f827d, #4f827d, vertical); // IE6-9
@include background-image(linear-gradient(top,  rgba(79,130,125,1) 12%,rgba(109,168,175,1) 33%,rgba(109,168,175,1) 62%,rgba(79,130,125,1) 93%));
-webkit-box-shadow: 0px 0px 2px 4px rgba(50, 50, 50, 0.85);
-moz-box-shadow:    0px 0px 2px 4px rgba(50, 50, 50, 0.85);
box-shadow:         0px 0px 2px 4px rgba(50, 50, 50, 0.85);

          }
          button:hover{

          }
          button:active{
background-color: rgb(79,130,125); // Old browsers
background-color: rgb(79,130,125); // Old browsers
@include filter-gradient(#4f827d, #4f827d, vertical); // IE6-9
@include background-image(linear-gradient(top,  rgba(79,130,125,1) 0%,rgba(109,168,175,1) 31%,rgba(109,168,175,1) 69%,rgba(79,130,125,1) 100%));

-webkit-box-shadow: 0px 0px 2px 2px rgba(50, 50, 50, 0.85);
-moz-box-shadow:    0px 0px 2px 2px rgba(50, 50, 50, 0.85);
box-shadow:         0px 0px 2px 2px rgba(50, 50, 50, 0.85);
          }

        }


        #button8 {
          button{

          }
          button:hover{

          }
          button:active{

          }

        }



        #button9 {
          button{

          }
          button:hover{

          }
          button:active{

          }

        }



        #button10 {
          button{

          }
          button:hover{

          }
          button:active{

          }

        }





        #button11 {
          button{
            position: relative;
            font-family: 'Maven Pro';
            background-color: cadetblue;
            border:none;
            -webkit-perspective: 5px; /* Chrome, Safari, Opera */
            perspective: 5px;

          }
          button:hover{
            border:none;
            -webkit-box-shadow: inset 0px 0px 10px 1px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    inset 0px 0px 10px 1px rgba(50, 50, 50, 0.75);
            box-shadow:         inset 0px 0px 5px 1px rgba(50, 50, 50, 0.75);
            transform:scaleZ(10px);
            -webkit-transform:scaleZ(10px);


          }
          button:active{
            border:none;
            -webkit-box-shadow: inset 0px 0px 10px 3px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    inset 0px 0px 10px 3px rgba(50, 50, 50, 0.75);
            box-shadow:         inset 0px 0px 10px 3px rgba(50, 50, 50, 0.75);
            transform:scaleZ(40px);
            -webkit-transform:scaleZ(40px);
            
          }

        }

        #button12 {
          button{
            position: relative;
            font-family: 'Maven Pro';
            background-color: cadetblue;
            border-color: white;
            transition-property:background-color;
            transition-duration:.5s;
          }
          button:hover{
            background-color:inherit; 
            border-color: black;


          }
          button:active{
            border-color: black;
            color: white;

          }
        }








      }






   
   }
  }
  
/*Grid Layout for different divices*/
  @media (min-width: 480px) {
    body { width: 480px; 
    .m_width50{ width: 50%; }
    .content{
                .button_grid{
                      #button4 {
                        button+div{
                                  background:inherit;
                                  width: 80px;
                                  height: .5em;
                                  box-shadow:185px 0 8px rgba(0,0,0,0.7);
                                  }
                               } 
                            }
                    }
            @-moz-keyframes shadowSize {
              0%   { width:80px; margin-left:0px; opacity:1;   box-shadow:185px 0 8px rgba(0,0,0,0.7);}
              50%  { width:50px; margin-left:25px;opacity:0.3; box-shadow:185px 0 15px rgba(0,0,0,0.3);}
              100% { width:80px; margin-left:0px; opacity:1;   box-shadow:185px 0 8px rgba(0,0,0,0.7);}
            }
            @-webkit-keyframes shadowSize {
              0%   { width:80px; margin-left:0px; opacity:1;   box-shadow:185px 0 8px rgba(0,0,0,0.7);}
              50%  { width:50px; margin-left:20px;opacity:0.3; box-shadow:185px 0 15px rgba(0,0,0,0.3);}
              100% { width:80px; margin-left:0px; opacity:1;   box-shadow:185px 0 8px rgba(0,0,0,0.7);}
            }
        }

  }
  /* Desktop version:
     we set the body width to 768px. */
  @media (min-width: 768px) {
      body { width: 768px; 
            .t_width100{ width: 100%; }
            .t_width50{ width: 50%; }
            .t_width75{ width: 75%; }
            .t_width66{ width: 66%; }
            .t_width25{ width: 25%; }
            .t_width33{ width: 33%; }
            .content{
                .button_grid{
                      #button4 {
                        button+div{
                                  background:inherit;
                                  width: 80px;
                                  height: .5em;
                                  box-shadow:143px 0 8px rgba(0,0,0,0.7);
                                  }
                               }
                            }
                    }
            @-moz-keyframes shadowSize {
              0%   { width:80px; margin-left:0px; opacity:1;   box-shadow:143px 0 8px rgba(0,0,0,0.7);}
              50%  { width:50px; margin-left:25px;opacity:0.3; box-shadow:143px 0 15px rgba(0,0,0,0.3);}
              100% { width:80px; margin-left:0px; opacity:1;   box-shadow:143px 0 8px rgba(0,0,0,0.7);}
            }
            @-webkit-keyframes shadowSize {
              0%   { width:80px; margin-left:0px; opacity:1;   box-shadow:143px 0 8px rgba(0,0,0,0.7);}
              50%  { width:50px; margin-left:20px;opacity:0.3; box-shadow:143px 0 15px rgba(0,0,0,0.3);}
              100% { width:80px; margin-left:0px; opacity:1;   box-shadow:143px 0 8px rgba(0,0,0,0.7);}
            }
        }
    }
  /* Large Desktop version:
     we set the body width to 1024px. */
  @media (min-width: 1024px) {
    body { width: 1024px; 
      .width100{ width: 100%; }
      .width50{ width: 50%; }
      .width75{ width: 75%; }
      .width66{ width: 66%; }
      .width25{ width: 25%; }
      .width33{ width: 33%; }
      .content{
                .button_grid{
                      #button4 {
                        button+div{
                                  background:inherit;
                                  width: 80px;
                                  height: .5em;
                                  box-shadow:90px 0 8px rgba(0,0,0,0.7);
                                  }
                               }
                            }
                    }
            @-moz-keyframes shadowSize {
              0%   { width:80px; margin-left:0px; opacity:1;   box-shadow:90px 0 8px rgba(0,0,0,0.7);}
              50%  { width:50px; margin-left:25px;opacity:0.3; box-shadow:90px 0 15px rgba(0,0,0,0.3);}
              100% { width:80px; margin-left:0px; opacity:1;   box-shadow:90px 0 8px rgba(0,0,0,0.7);}
            }
            @-webkit-keyframes shadowSize {
              0%   { width:80px; margin-left:0px; opacity:1;   box-shadow:90px 0 8px rgba(0,0,0,0.7);}
              50%  { width:50px; margin-left:20px;opacity:0.3; box-shadow:90px 0 15px rgba(0,0,0,0.3);}
              100% { width:80px; margin-left:0px; opacity:1;   box-shadow:90px 0 8px rgba(0,0,0,0.7);}
            }
  		}
      }

}