@import url(http://fonts.googleapis.com/css?family=Raleway|Maven+Pro);
/*  @include transform(100% 0);
  @include transition-timing-function(cubic-bezier(0.7,0,0.3,1));
  @include transition-property(min-height,width,bottom,right);  
  @include transition-duration(.4s);*/
/* Centering of the page */
/* line 9, ../scss/button.scss */
html {
  background-color: crimson;
  /*Grid Layout for different divices*/
  /* Desktop version:
     we set the body width to 768px. */
  /* Large Desktop version:
     we set the body width to 1024px. */
}
/* line 12, ../scss/button.scss */
html body {
  margin-left: auto;
  margin-right: auto;
  font-family: Raleway;
}
/* line 17, ../scss/button.scss */
html body .main p {
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
}
/* line 25, ../scss/button.scss */
html body .content #featureButton {
  margin: 5% 0%;
}
/* line 27, ../scss/button.scss */
html body .content #featureButton button {
  position: relative;
  font-size: 1em;
  font-family: 'Maven Pro';
  padding: 1% 20%;
  font-size: 2em;
  border-radius: 1em;
  margin-left: 30%;
  background-color: cadetblue;
  -webkit-box-shadow: 0px 5px 0px 0px #508082;
  -moz-box-shadow: 0px 5px 0px 0px #508082;
  box-shadow: 0px 5px 0px 0px #508082;
  border: none;
  color: black;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 45, ../scss/button.scss */
html body .content #featureButton button:hover {
  top: -1px;
  -webkit-box-shadow: 0px 6px 0px 0px #508082;
  -moz-box-shadow: 0px 6px 0px 0px #508082;
  box-shadow: 0px 6px 0px 0px #508082;
  border: none;
  color: white;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 55, ../scss/button.scss */
html body .content #featureButton button:active {
  top: 3px;
  -webkit-box-shadow: 0px 3px 0px 0px #508082;
  -moz-box-shadow: 0px 3px 0px 0px #508082;
  box-shadow: 0px 3px 0px 0px #508082;
  border: none;
}
/* line 62, ../scss/button.scss */
html body .content #featureButton button:focus {
  outline: 0;
}
/* line 66, ../scss/button.scss */
html body .content .button_grid {
  position: relative;
}
/* line 68, ../scss/button.scss */
html body .content .button_grid .block {
  padding: 1em 0em;
}
/* line 70, ../scss/button.scss */
html body .content .button_grid .block button {
  position: relative;
  left: 30%;
  font-family: 'Maven Pro';
  padding: 10% 10%;
}
/* line 76, ../scss/button.scss */
html body .content .button_grid .block button:focus {
  outline: 0;
}
/* line 82, ../scss/button.scss */
html body .content .button_grid #button1 button {
  position: relative;
  font-size: 1em;
  font-family: 'Maven Pro';
  border-radius: 1em;
  background-color: cadetblue;
  -webkit-box-shadow: 0px 5px 0px 0px #508082;
  -moz-box-shadow: 0px 5px 0px 0px #508082;
  box-shadow: 0px 5px 0px 0px #508082;
  border: none;
  color: black;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 97, ../scss/button.scss */
html body .content .button_grid #button1 button:hover {
  background-color: #7dced1;
  -webkit-box-shadow: 0px 6px 0px 0px #508082;
  -moz-box-shadow: 0px 6px 0px 0px #508082;
  box-shadow: 0px 6px 0px 0px #508082;
}
/* line 103, ../scss/button.scss */
html body .content .button_grid #button1 button:active {
  top: 4px;
  -webkit-box-shadow: 0px 3px 0px 0px #508082;
  -moz-box-shadow: 0px 3px 0px 0px #508082;
  box-shadow: 0px 3px 0px 0px #508082;
}
/* line 113, ../scss/button.scss */
html body .content .button_grid #button2 button {
  position: relative;
  font-size: 1em;
  font-family: 'Maven Pro';
  border-radius: 1em;
  background-color: cadetblue;
  -webkit-box-shadow: 0px 5px 12px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 12px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 12px 1px rgba(50, 50, 50, 0.75);
  border: none;
}
/* line 124, ../scss/button.scss */
html body .content .button_grid #button2 button:hover {
  top: -2px;
  -webkit-box-shadow: 0px 9px 12px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 9px 12px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 9px 12px 3px rgba(50, 50, 50, 0.75);
  border: none;
}
/* line 131, ../scss/button.scss */
html body .content .button_grid #button2 button:active {
  top: 5px;
  -webkit-box-shadow: 0px 9px 12px -2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 9px 12px -2px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 9px 12px -2px rgba(50, 50, 50, 0.75);
  border: none;
}
/* line 142, ../scss/button.scss */
html body .content .button_grid #button3 button {
  position: relative;
  font-family: 'Maven Pro';
  border-radius: 1em;
  background-color: cadetblue;
  border: none;
  -webkit-box-shadow: 2px -5px 1px 0px #508082;
  -moz-box-shadow: 2px -5px 1px 0px #508082;
  box-shadow: 2px -5px 1px 0px #508082;
}
/* line 153, ../scss/button.scss */
html body .content .button_grid #button3 button:hover {
  border: none;
  top: 3px;
  -webkit-box-shadow: 2px -8px 1px 0px #508082;
  -moz-box-shadow: 2px -8px 1px 0px #508082;
  box-shadow: 2px -8px 1px 0px #508082;
}
/* line 161, ../scss/button.scss */
html body .content .button_grid #button3 button:active {
  border: none;
  top: 0px;
  -webkit-box-shadow: 2px -3px 1px 0px #508082;
  -moz-box-shadow: 2px -3px 1px 0px #508082;
  box-shadow: 2px -3px 1px 0px #508082;
}
/* line 172, ../scss/button.scss */
html body .content .button_grid #button4 {
  /* The animation code */
}
@-webkit-keyframes flaotingButton {
  0% {
    top: 0px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
  }
  50% {
    top: -10px;
    -webkit-box-shadow: 0px 15px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 15px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 15px 5px 0px rgba(50, 50, 50, 0.75);
  }
  100% {
    top: 0px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
  }
}
@keyframes flaotingButton {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}
@-moz-keyframes shadowSize {
  0% {
    width: 80px;
    margin-left: 0px;
    opacity: 1;
    box-shadow: 90px 0 8px rgba(0, 0, 0, 0.7);
  }
  50% {
    width: 50px;
    margin-left: 25px;
    opacity: 0.3;
    box-shadow: 90px 0 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    width: 80px;
    margin-left: 0px;
    opacity: 1;
    box-shadow: 90px 0 8px rgba(0, 0, 0, 0.7);
  }
}
@-webkit-keyframes shadowSize {
  0% {
    width: 80px;
    margin-left: 0px;
    opacity: 1;
    box-shadow: 90px 0 8px rgba(0, 0, 0, 0.7);
  }
  50% {
    width: 50px;
    margin-left: 20px;
    opacity: 0.3;
    box-shadow: 90px 0 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    width: 80px;
    margin-left: 0px;
    opacity: 1;
    box-shadow: 90px 0 8px rgba(0, 0, 0, 0.7);
  }
}
/* line 213, ../scss/button.scss */
html body .content .button_grid #button4 button {
  position: relative;
  font-family: 'Maven Pro';
  border-radius: 1em;
  background-color: cadetblue;
  position: relative;
  border: none;
}
/* line 221, ../scss/button.scss */
html body .content .button_grid #button4 button:hover {
  border: none;
  -moz-animation: flaotingButton 1.5s infinite ease-in-out;
  -webkit-animation: flaotingButton 1.5s infinite ease-in-out;
}
/* line 226, ../scss/button.scss */
html body .content .button_grid #button4 button:active {
  border: none;
  color: white;
}
/* line 231, ../scss/button.scss */
html body .content .button_grid #button4 button + div {
  background: inherit;
  width: 80px;
  height: .5em;
  box-shadow: 90px 0 8px rgba(0, 0, 0, 0.7);
}
/* line 237, ../scss/button.scss */
html body .content .button_grid #button4 button:hover + div {
  background: inherit;
  width: 0%;
  height: 0.5em;
  -moz-animation: shadowSize 1.5s infinite ease-in-out;
  -webkit-animation: shadowSize 1.5s infinite ease-in-out;
}
/* line 251, ../scss/button.scss */
html body .content .button_grid #button5 button {
  position: relative;
  font-size: 1em;
  font-family: 'Maven Pro';
  border-radius: 1em;
  background-color: cadetblue;
  -webkit-box-shadow: 0px 5px 0px 0px #508082;
  -moz-box-shadow: 0px 5px 0px 0px #508082;
  box-shadow: 0px 5px 0px 0px #508082;
  border: none;
  color: black;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 266, ../scss/button.scss */
html body .content .button_grid #button5 button:hover {
  -webkit-box-shadow: 0px 6px 0px 0px #508082;
  -moz-box-shadow: 0px 6px 0px 0px #508082;
  box-shadow: 0px 6px 0px 0px #508082;
}
/* line 271, ../scss/button.scss */
html body .content .button_grid #button5 button:active {
  top: 4px;
  background-color: #5D999A;
  -webkit-box-shadow: 0px 3px 0px 0px #3c6c6e;
  -moz-box-shadow: 0px 3px 0px 0px #3c6c6e;
  box-shadow: 0px 3px 0px 0px #3c6c6e;
}
/* line 284, ../scss/button.scss */
html body .content .button_grid #button6 button {
  border: none;
  border-radius: 0em;
  -webkit-perspective: 5px;
  /* Chrome, Safari, Opera */
  perspective: 5px;
  -webkit-transform: rotateX(5deg);
  /* Chrome, Safari, Opera  */
  transform: rotateX(5deg);
  background-color: #00b096;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00B096', endColorstr='#FF4F827D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxOSUiIHN0b3AtY29sb3I9IiMwMGIwOTYiLz48c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iIzZkYThhZiIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNmRhOGFmIi8+PHN0b3Agb2Zmc2V0PSI5MiUiIHN0b3AtY29sb3I9IiM0ZjgyN2QiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(19%, #00b096), color-stop(37%, #6da8af), color-stop(70%, #6da8af), color-stop(92%, #4f827d));
  background-image: -moz-linear-gradient(top, #00b096 19%, #6da8af 37%, #6da8af 70%, #4f827d 92%);
  background-image: -webkit-linear-gradient(top, #00b096 19%, #6da8af 37%, #6da8af 70%, #4f827d 92%);
  background-image: linear-gradient(to bottom, #00b096 19%, #6da8af 37%, #6da8af 70%, #4f827d 92%);
  -webkit-box-shadow: 0px 5px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 4px 0px rgba(50, 50, 50, 0.75);
}
/* line 307, ../scss/button.scss */
html body .content .button_grid #button6 button:active {
  border: none;
  border-radius: 0em;
  background-color: #4f827d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4F827D', endColorstr='#FF00B096');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI4JSIgc3RvcC1jb2xvcj0iIzRmODI3ZCIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjNmRhOGFmIi8+PHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiM2ZGE4YWYiLz48c3RvcCBvZmZzZXQ9IjgxJSIgc3RvcC1jb2xvcj0iIzAwYjA5NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(8%, #4f827d), color-stop(30%, #6da8af), color-stop(63%, #6da8af), color-stop(81%, #00b096));
  background-image: -moz-linear-gradient(top, #4f827d 8%, #6da8af 30%, #6da8af 63%, #00b096 81%);
  background-image: -webkit-linear-gradient(top, #4f827d 8%, #6da8af 30%, #6da8af 63%, #00b096 81%);
  background-image: linear-gradient(to bottom, #4f827d 8%, #6da8af 30%, #6da8af 63%, #00b096 81%);
  -webkit-transform: rotateX(-5deg);
  /* Chrome, Safari, Opera  */
  transform: rotateX(-5deg);
  -webkit-box-shadow: 0px -5px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -5px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -5px 4px 0px rgba(50, 50, 50, 0.75);
}
/* line 329, ../scss/button.scss */
html body .content .button_grid #button7 button {
  border-radius: 1em;
  border: none;
  background-color: #4f827d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4F827D', endColorstr='#FF4F827D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMiUiIHN0b3AtY29sb3I9IiM0ZjgyN2QiLz48c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzZkYThhZiIvPjxzdG9wIG9mZnNldD0iNjIlIiBzdG9wLWNvbG9yPSIjNmRhOGFmIi8+PHN0b3Agb2Zmc2V0PSI5MyUiIHN0b3AtY29sb3I9IiM0ZjgyN2QiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(12%, #4f827d), color-stop(33%, #6da8af), color-stop(62%, #6da8af), color-stop(93%, #4f827d));
  background-image: -moz-linear-gradient(top, #4f827d 12%, #6da8af 33%, #6da8af 62%, #4f827d 93%);
  background-image: -webkit-linear-gradient(top, #4f827d 12%, #6da8af 33%, #6da8af 62%, #4f827d 93%);
  background-image: linear-gradient(to bottom, #4f827d 12%, #6da8af 33%, #6da8af 62%, #4f827d 93%);
  -webkit-box-shadow: 0px 0px 2px 4px rgba(50, 50, 50, 0.85);
  -moz-box-shadow: 0px 0px 2px 4px rgba(50, 50, 50, 0.85);
  box-shadow: 0px 0px 2px 4px rgba(50, 50, 50, 0.85);
}
/* line 346, ../scss/button.scss */
html body .content .button_grid #button7 button:active {
  background-color: #4f827d;
  background-color: #4f827d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4F827D', endColorstr='#FF4F827D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmODI3ZCIvPjxzdG9wIG9mZnNldD0iMzElIiBzdG9wLWNvbG9yPSIjNmRhOGFmIi8+PHN0b3Agb2Zmc2V0PSI2OSUiIHN0b3AtY29sb3I9IiM2ZGE4YWYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZjgyN2QiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4f827d), color-stop(31%, #6da8af), color-stop(69%, #6da8af), color-stop(100%, #4f827d));
  background-image: -moz-linear-gradient(top, #4f827d 0%, #6da8af 31%, #6da8af 69%, #4f827d 100%);
  background-image: -webkit-linear-gradient(top, #4f827d 0%, #6da8af 31%, #6da8af 69%, #4f827d 100%);
  background-image: linear-gradient(to bottom, #4f827d 0%, #6da8af 31%, #6da8af 69%, #4f827d 100%);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(50, 50, 50, 0.85);
  -moz-box-shadow: 0px 0px 2px 2px rgba(50, 50, 50, 0.85);
  box-shadow: 0px 0px 2px 2px rgba(50, 50, 50, 0.85);
}
/* line 408, ../scss/button.scss */
html body .content .button_grid #button11 button {
  position: relative;
  font-family: 'Maven Pro';
  background-color: cadetblue;
  border: none;
  -webkit-perspective: 5px;
  /* Chrome, Safari, Opera */
  perspective: 5px;
}
/* line 417, ../scss/button.scss */
html body .content .button_grid #button11 button:hover {
  border: none;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 0px 5px 1px rgba(50, 50, 50, 0.75);
  transform: scaleZ(10px);
  -webkit-transform: scaleZ(10px);
}
/* line 427, ../scss/button.scss */
html body .content .button_grid #button11 button:active {
  border: none;
  -webkit-box-shadow: inset 0px 0px 10px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 3px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 0px 10px 3px rgba(50, 50, 50, 0.75);
  transform: scaleZ(40px);
  -webkit-transform: scaleZ(40px);
}
/* line 440, ../scss/button.scss */
html body .content .button_grid #button12 button {
  position: relative;
  font-family: 'Maven Pro';
  background-color: cadetblue;
  border-color: white;
  transition-property: background-color;
  transition-duration: .5s;
}
/* line 448, ../scss/button.scss */
html body .content .button_grid #button12 button:hover {
  background-color: inherit;
  border-color: black;
}
/* line 454, ../scss/button.scss */
html body .content .button_grid #button12 button:active {
  border-color: black;
  color: white;
}
@media (min-width: 240px) {
  /* line 482, ../scss/button.scss */
  html body {
    width: 240px;
  }
  /* line 483, ../scss/button.scss */
  html body .m_width50 {
    width: 50%;
  }
  /* line 486, ../scss/button.scss */
  html body .content #featureButton button {
    margin-left: 10%;
    padding: 1% 30%;
  }
}
@media (min-width: 320px) {
  /* line 494, ../scss/button.scss */
  html body {
    width: 320px;
  }
  /* line 496, ../scss/button.scss */
  html body .m_width50 {
    width: 50%;
  }
  /* line 500, ../scss/button.scss */
  html body .content #featureButton button {
    margin-left: 5%;
    padding: 1% 40%;
  }
}
@media (min-width: 480px) {
  /* line 508, ../scss/button.scss */
  html body {
    width: 480px;
  }
  /* line 509, ../scss/button.scss */
  html body .m_width50 {
    width: 50%;
  }
  /* line 512, ../scss/button.scss */
  html body .content #featureButton button {
    margin-left: 10%;
    padding: 1% 30%;
  }
  /* line 519, ../scss/button.scss */
  html body .content .button_grid #button4 button + div {
    background: inherit;
    width: 80px;
    height: .5em;
    box-shadow: 185px 0 8px rgba(0, 0, 0, 0.7);
  }
  @-moz-keyframes shadowSize {
    0% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 185px 0 8px rgba(0, 0, 0, 0.7);
    }
    50% {
      width: 50px;
      margin-left: 25px;
      opacity: 0.3;
      box-shadow: 185px 0 15px rgba(0, 0, 0, 0.3);
    }
    100% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 185px 0 8px rgba(0, 0, 0, 0.7);
    }
  }
  @-webkit-keyframes shadowSize {
    0% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 185px 0 8px rgba(0, 0, 0, 0.7);
    }
    50% {
      width: 50px;
      margin-left: 20px;
      opacity: 0.3;
      box-shadow: 185px 0 15px rgba(0, 0, 0, 0.3);
    }
    100% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 185px 0 8px rgba(0, 0, 0, 0.7);
    }
  }
}
@media (min-width: 768px) {
  /* line 545, ../scss/button.scss */
  html body {
    width: 768px;
  }
  /* line 546, ../scss/button.scss */
  html body .t_width100 {
    width: 100%;
  }
  /* line 547, ../scss/button.scss */
  html body .t_width50 {
    width: 50%;
  }
  /* line 548, ../scss/button.scss */
  html body .t_width75 {
    width: 75%;
  }
  /* line 549, ../scss/button.scss */
  html body .t_width66 {
    width: 66%;
  }
  /* line 550, ../scss/button.scss */
  html body .t_width25 {
    width: 25%;
  }
  /* line 551, ../scss/button.scss */
  html body .t_width33 {
    width: 33%;
  }
  /* line 554, ../scss/button.scss */
  html body .content #featureButton button {
    margin-left: 20%;
    padding: 1% 30%;
  }
  /* line 561, ../scss/button.scss */
  html body .content .button_grid #button4 button + div {
    background: inherit;
    width: 80px;
    height: .5em;
    box-shadow: 143px 0 8px rgba(0, 0, 0, 0.7);
  }
  @-moz-keyframes shadowSize {
    0% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 143px 0 8px rgba(0, 0, 0, 0.7);
    }
    50% {
      width: 50px;
      margin-left: 25px;
      opacity: 0.3;
      box-shadow: 143px 0 15px rgba(0, 0, 0, 0.3);
    }
    100% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 143px 0 8px rgba(0, 0, 0, 0.7);
    }
  }
  @-webkit-keyframes shadowSize {
    0% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 143px 0 8px rgba(0, 0, 0, 0.7);
    }
    50% {
      width: 50px;
      margin-left: 20px;
      opacity: 0.3;
      box-shadow: 143px 0 15px rgba(0, 0, 0, 0.3);
    }
    100% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 143px 0 8px rgba(0, 0, 0, 0.7);
    }
  }
}
@media (min-width: 1024px) {
  /* line 585, ../scss/button.scss */
  html body {
    width: 1024px;
  }
  /* line 586, ../scss/button.scss */
  html body .width100 {
    width: 100%;
  }
  /* line 587, ../scss/button.scss */
  html body .width50 {
    width: 50%;
  }
  /* line 588, ../scss/button.scss */
  html body .width75 {
    width: 75%;
  }
  /* line 589, ../scss/button.scss */
  html body .width66 {
    width: 66%;
  }
  /* line 590, ../scss/button.scss */
  html body .width25 {
    width: 25%;
  }
  /* line 591, ../scss/button.scss */
  html body .width33 {
    width: 33%;
  }
  /* line 595, ../scss/button.scss */
  html body .content .button_grid #button4 button + div {
    background: inherit;
    width: 80px;
    height: .5em;
    box-shadow: 90px 0 8px rgba(0, 0, 0, 0.7);
  }
  @-moz-keyframes shadowSize {
    0% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 90px 0 8px rgba(0, 0, 0, 0.7);
    }
    50% {
      width: 50px;
      margin-left: 25px;
      opacity: 0.3;
      box-shadow: 90px 0 15px rgba(0, 0, 0, 0.3);
    }
    100% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 90px 0 8px rgba(0, 0, 0, 0.7);
    }
  }
  @-webkit-keyframes shadowSize {
    0% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 90px 0 8px rgba(0, 0, 0, 0.7);
    }
    50% {
      width: 50px;
      margin-left: 20px;
      opacity: 0.3;
      box-shadow: 90px 0 15px rgba(0, 0, 0, 0.3);
    }
    100% {
      width: 80px;
      margin-left: 0px;
      opacity: 1;
      box-shadow: 90px 0 8px rgba(0, 0, 0, 0.7);
    }
  }
}
