@keyframes rotating {
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: 2px solid #70ad4d;
    animation: rotating 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}