$primary-darker:#356122;
$primary-dark:#518736;
$primary-normal:#35cd61;
$primary-light:#8fba72;
$primary-lighter:#adc799;
$accent:#f8b81c;

$gray0:#fafafa;
$gray1:#f5f5f5;
$gray2:#e8e8e8;
$gray3:#d9d9d9;
$gray4:#bfbfbf;
$gray5:#8c8c8c;
$gray6:#595959;
$gray7:#232323;
$white: #ffffff;

$gray-lighter: $gray0;
$gray-light: $gray2;
$gray-normal: $gray4;
$gray-dark: $gray6;
$gray-darker: $gray7;

$text-white: $gray0;
$text-primary: $gray7;
$text-secondary: $gray4;
$text-subtitle: $gray6;

$white: $gray0;

$button-primary: $primary-normal;
$border-primery: $primary-normal;
$border-radius: 3px;
$button-hover: $primary-darker;

$radius-button: 3px;