@import "styles/style";
html {
  scroll-behavior: smooth;
}
body {
  width: 80%;
  margin: auto;
  scroll-behavior: smooth;
  font-smooth: always;
  font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  .text-highlight {
    display: inline;
    line-height: 0;
    border-radius: 0.25em;
    color: black;
    background: url("./assets/highlight-brush-stroke.svg");
    background-repeat: no-repeat;
    background-size: 125% 100%;
    padding: 20px 0;
    background-position: 48%;
  }
  @include breakpoint(md) {
    width: 100%;
  }
  button {
    @include btn("primary", "small");
    @include breakpoint(md) {
      color: #35cd61;
      background: white;
      border-color: #35cd61;
    }
    position: relative;
    z-index: 1;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 50px 0px;
    @include breakpoint(md) {
      width: 80%;
      margin: auto;
    }
    @include breakpoint(sm) {
      flex-wrap: wrap;
    }
    .navbar-logo {
      font-family: "Oleo Script Swash Caps", cursive;
      font-size: 2em;
    }
    .navbar-links .navbar-wrapper {
      display: flex;
      font-size: 0.9em;
      // font-family: 'Anaheim';
      font-weight: bold;
      li {
        margin: 0 1.5em;
        @include breakpoint(sm) {
          &:nth-of-type(1) {
            margin-left: 0;
          }
        }
      }
    }
    @include breakpoint(sm) {
      .navbar-links {
        margin-top: 1em;
      }
    }
    .navbar-links-social {
      position: relative;
      z-index: 1;
      img {
        width: 25px;
        margin: 0 0.2em;
        filter: invert(1);
        transition: 0.4s;
        &:hover {
          filter: invert(0);
        }
      }
      @include breakpoint(sm) {
        margin-top: 1em;
        img {
          filter: none;
        }
      }
    }
  }
  section {
    &.hero {
      display: flex;
      @include breakpoint(sm) {
        flex-direction: column-reverse;
      }
      .hero-intro,
      .hero-illustration {
        flex: 1;
        @include breakpoint(md) {
          // right: -12.5%;
        }
      }
      .hero-illustration {
        position: relative;
        top: -142px;
        @include breakpoint(sm) {
          top: -225px;
        }
        @include breakpoint(md) {
          top: -225px;
        }
        .coder {
          position: absolute;
          width: 500px;
          bottom: 115px;
          right: 10px;
          z-index: 1;
          @include breakpoint(md) {
            right: 0;
            bottom: 0;
          }
          @include breakpoint(sm) {
            right: 0;
            bottom: 0;
            width: 80%;
          }
        }
        .coder-background {
          position: relative;
          z-index: 0;
          left: 25%;
          @include breakpoint(md) {
            left: 0;
          }
        }
      }
      .hero-intro {
        margin-top: 5em;
        word-spacing: 2px;
        color: #4f4f4f;
        a {
          color: #35cd61;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
        @include breakpoint(md) {
          width: 80%;
          position: absolute;
          z-index: 1;
          margin-top: 1em;
          margin-left: 10%;
        }
        @include breakpoint(sm) {
          position: relative;
          width: 80%;
          top: -150px;
          margin: auto;
        }
        h1,
        h2,
        p {
          line-height: 1.5;
        }
        p {
          width: 80%;
          font-size: 1em;
          margin: 1.5em 0px;
          @include breakpoint(md) {
            width: 60%;
          }
          @include breakpoint(sm) {
            width: 100%;
          }
        }
      }
    }
    &.skill-set {
      display: flex;
      @include breakpoint(md) {
        margin-top: 3em;
        margin-bottom: 3em;
      }
      .skill-set-content {
        width: 100%;
        @include breakpoint(md) {
          width: 80%;
          margin: auto;
          h2 {
            margin-bottom: 2em;
          }
        }
        p {
          margin-top: 1em;
          line-height: 1.8;
        }
        h4 {
          margin-top: 1em;
          font-weight: bold;
        }
      }
      .skill-set-items-wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .skill-set-item {
        width: 40%;
        margin: 5%;
        @include breakpoint(sm) {
          width: 90%;
          margin-block: 2em;
        }
        .skill-logos {
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
          a.logo {
            cursor: pointer;
          }
          .logo {
            width: fit-content;
            padding: 6px;
            border: 1px solid rgba(53, 205, 97, 0.81176);
            border-radius: 38% 62% 57% 43% / 43% 50% 50% 57%;
            margin: 3px;
            display: flex;
            animation: morph 2s ease-in-out infinite both alternate;
            animation-play-state: paused;
            &:hover {
              animation-play-state: running;
              background: rgba(53, 205, 97, 0.21176);
              border: 1px solid rgba(53, 205, 97, 0.21176);
            }
          }
          img {
            width: 25px;
          }
        }
      }
      .skill-set-illustration-wrapper {
        position: relative;
        width: 50%;
        @include breakpoint(md) {
          width: 0%;
          left: -13%;
        }
      }
      .skill-set-icon {
        padding: 0.3em;
        background: #35cd61;
        height: 3em;
        width: 3em;
        justify-content: center;
        align-items: center;
        display: flex;
        box-shadow: inset 0 0 8px rgba(67, 67, 67, 0.28);
        border-radius: 38% 62% 57% 43% / 43% 50% 50% 57%;
        animation: morph 6s ease-in-out infinite both alternate;
        .icon {
          height: 3.5em;
          width: 3.5em;
        }
      }
      @keyframes morph {
        0% {
          border-radius: 38% 62% 57% 43% / 43% 50% 50% 57%;
        }
        100% {
          border-radius: 71% 29% 33% 67% / 35% 62% 38% 65%;
        }
      }
      .circle {
        width: 13em;
        height: 13em;
        border-radius: 100%;
        background: #35cd61;
        left: -15em;
        top: -4.5em;
        position: absolute;
      }
      .skill-set-illustration img {
        height: 50em;
        position: relative;
        left: -36%;
        top: -5%;
        @include breakpoint(md) {
          height: 30em;
          top: 7em;
          opacity: 0.2;
        }
      }
    }
    &.projects {
      margin-top: 3em;
      margin-bottom: 3em;
      h2 {
        margin-bottom: 2em;
      }
      @include breakpoint(md) {
        width: 80%;
        margin: auto;
        margin-top: 10em;
      }
      position: relative;
      .project {
        z-index: 1;
        position: relative;
        display: flex;
        width: 55%;
        margin-left: 5em;
        margin-bottom: 5em;
        @include breakpoint(md) {
          width: 100%;
          margin-left: 1em;
          margin-bottom: 2em;
        }
        @include breakpoint(sm) {
          margin: 3.5em auto;
          flex-direction: column;
          display: flex;
          margin-left: 5%;
        }
        &:nth-of-type(3) {
          margin-left: 15em;
          @include breakpoint(md) {
            margin-left: 5em;
            margin-left: 1em;
          }
          @include breakpoint(sm) {
            margin: 3.5em auto;
            margin-left: 5%;
          }
        }
        img {
          border-radius: 18px;
          border: 0;
          box-shadow: none;
          width: 200px;
          margin-right: 2em;
          box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
            0 8px 16px -8px rgba(0, 0, 0, 0.3),
            0 -6px 16px -6px rgba(0, 0, 0, 0.025);
          @include breakpoint(sm) {
            margin: 0;
          }
        }
        .project-details {
          padding-top: 1.5em;
          @include breakpoint(md) {
            padding-top: 0;
          }
          @include breakpoint(sm) {
            padding-top: 1em;
            width: 90%;
          }
          .project-name {
            font-size: var(--text-lg);
            margin-bottom: 0.5em;
            font-weight: bold;
            color: #4f4f4f;
          }
          .project-description {
            line-height: 1.8em;
            font-size: var(--text-sm);
            color: var(--font-paragraph-color);
          }
        }
      }
      .ring-wrapper {
        position: absolute;
        height: 35em;
        width: 35em;
        display: flex;
        top: 33%;
        left: -45%;
        align-self: center;
        @include breakpoint(md) {
          opacity: 0.2;
          height: 30em;
          width: 30em;
        }
        @include breakpoint(sm) {
          height: 15em;
          width: 100%;
        }
      }
      .circle-outer {
        background: #35cd61;
        width: 100%;
        position: relative;
        height: 100%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .circle-inner {
        width: 60%;
        height: 60%;
        position: relative;
        background: white;
        border-radius: 100%;
      }
    }
    &.blog {
      margin-top: 10em;
      position: relative;
      // @include breakpoint(sm) {
      //   margin-top: 5em;
      // }
      .blog-title {
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      .blog-posts {
        position: relative;
        z-index: 1;
        height: 32em;
        padding-top: 6em;
        @include breakpoint(sm) {
          height: auto;
          padding-top: 0;
        }
        @include breakpoint(md) {
          width: 80%;
          margin: auto;
        }
        h2 {
          margin-bottom: 1em;
        }
      }
      .article-wrapper {
        display: flex;
        flex-wrap: wrap;
      }
      .blog-description {
        font-size: var(--text-sm);
      }
      .blog-post-illustration {
        height: 50em;
        position: absolute;
        right: -12.5%;
        top: 0;
        @include breakpoint(sm) {
          bottom: 0;
          top: auto;
          opacity: 0.2;
        }
        @include breakpoint(md) {
          right: 0;
        }
      }
      article {
        width: 35%;
        cursor: pointer;
        background: white;
        margin: 1%;
        padding: 1.5% 4%;
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.1),
          0 8px 16px -8px rgba(0, 0, 0, 0.1),
          0 -6px 16px -6px rgba(0, 0, 0, 0.01);
        border-radius: 4px;
        border: 2px solid transparent;
        transition-duration: 0.15s;
        min-height: 7em;
        transition-property: color, background-color, box-shadow, transform;
        @include breakpoint(md) {
          width: 38%;
        }
        @include breakpoint(sm) {
          margin: 0.5em;
          width: 80%;
        }
        &:hover {
          transform: translateY(-2px);
          border: 2px solid rgba(53, 205, 97, 0.8);
          box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.1),
            0 18px 36px -18px rgba(0, 0, 0, 0.1),
            0 -12px 36px -8px rgba(0, 0, 0, 0.01);
        }
      }
      .circle {
        width: 13em;
        height: 13em;
        border-radius: 100%;
        background: #35cd61;
        right: 5em;
        position: absolute;
        bottom: 0em;
        @include breakpoint(md) {
          right: 13em;
          opacity: 0.2;
        }
        @include breakpoint(sm) {
          display: none;
        }
      }
    }
  }
  footer {
    width: 70%;
    height: 10em;
    max-height: 10em;
    position: relative;
    @include breakpoint(md) {
      width: 80%;
      margin: auto;
    }
    @include breakpoint(sm) {
      padding-top: 30px;
    }
    h2 {
      margin-bottom: 1em;
      @include breakpoint(md) {
        font-size: 1em;
        position: relative;
        z-index: 1;
      }
    }
  }
}
